body {
   font-family: 'Montserrat';
}

.header {
   background: #ff4c68;
}

.header__title {
   font-family: 'Montserrat';
   font-weight: 800;
   font-size: 3.5rem;
   line-height: 1.5;
   color: #fff;
}

.container-fluid {
   padding: 7% 15%;
}

/* navigation section */

.nav-bar {
   padding: 1.5rem 5rem;
}

.navbar-brand {
   font-family: "Ubuntu";
   font-size: 2rem;
   font-weight: bold;
}

.nav-item {
   padding: 0 18px;
}

.nav-link {
   font-size: 1.2rem;
   font-family: 'Montserrat';
   font-weight: 100;
}

/* Download buttons */
.download-button {
   margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
   width: 60%;
   transform: rotate(25deg);
   /* z-index: -1; */
   position: absolute;
}

/* Features section */
.features-section {
   padding: 7% 15%;
   background-color: #fff;
   /* z-index: 1; */
   /* position: absolute; */
   position: relative;
}

.feature-box {
   text-align: center;
   padding: 5%;
}

.feature-box__title {
   font-family: 'Montserrat';
   font-size: 1.5rem;
   font-weight: 800;
}

.feature-box__description {
   color: #8f8f8f;
}

.feature-box__icon {
   color: #ef8172;
   margin-bottom: 1rem;
}

.feature-box__icon:hover {
   color: #ff4c68;
}

.testimonials {

   text-align: center;
   background-color: #ef8172;
   color: #fff;
}

.carousel-item {
   padding: 7% 15% 7%;
}

.testimonials__image {
   width: 20%;
   border-radius: 100%;
   margin: 10px;
}

.testimonials__title {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 2.5rem;
   line-height: 3.5rem;
   text-align: center;
   padding-bottom: 62px;
}

.carousel__icon {
   margin: 32px auto;
}

.press {
   text-align: center;
   background-color: #ef8172;
   padding: 3% 0 2%;
   margin-top: 2px;
}

.press__logo {
   width: 15%;
   margin: 20px 20px 50px;
}

/* pricing section */

.pricing {
   text-align: center;
   font-family: 'Montserrat';
   padding: 100px;
}

.pricing__title {
   font-weight: 700;
   font-size: 2rem;
   margin: 3rem 0 1.5rem 0;
}

.card__column {
   padding: 3% 2%;
}

.card__title {
   font-weight: 700;
   font-size: 1.5rem;
}

.card__subtitle {
   font-family: 'Ubuntu';
   font-weight: bold;
   font-size: 2rem;
}